# Spark SQL exercise session

In [62]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [63]:
spark

In [64]:
#Creates database
spark.sql("CREATE DATABASE flightDB")

DataFrame[]

In [65]:
#Specifies which DB to use
spark.sql("USE flightDB")

#Creates table
spark.sql("""CREATE TABLE flights (
DEST_COUNTRY_NAME STRING COMMENT "Describes destination country", ORIGIN_COUNTRY_NAME STRING COMMENT "Describes departure country", count LONG COMMENT "Describes number of departures")
USING csv OPTIONS (header true, path '/Users/andershedegaard/Documents/GitHub/Mini-project-exercise-sql/data')""")

DataFrame[]

In [66]:
#Inserts data into the table
spark.sql("""INSERT INTO flights
SELECT DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count FROM flights""")

DataFrame[]

In [67]:
#Selects all data from "flights" and displays it in a table
spark.sql("SELECT * FROM flights").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [68]:
#METADATA
spark.sql("DESCRIBE flights").show()

+-------------------+---------+--------------------+
|           col_name|data_type|             comment|
+-------------------+---------+--------------------+
|  DEST_COUNTRY_NAME|   string|Describes destina...|
|ORIGIN_COUNTRY_NAME|   string|Describes departu...|
|              count|   bigint|Describes number ...|
+-------------------+---------+--------------------+

In [77]:
#Create a view displaying all departures from United States
spark.sql("""CREATE OR REPLACE VIEW dep_us AS 
            SELECT * FROM flights WHERE ORIGIN_COUNTRY_NAME = 'United States'""")

DataFrame[]

In [78]:
spark.sql("SELECT * FROM dep_us ORDER BY count").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|            Djibouti|      United States|    1|
|           Indonesia|      United States|    1|
|       New Caledonia|      United States|    1|
|             Moldova|      United States|    1|
|                Iraq|      United States|    1|
|       Cote d'Ivoire|      United States|    1|
|             Moldova|      United States|    1|
|               Malta|      United States|    1|
|       Cote d'Ivoire|      United States|    1|
|               Malta|      United States|    1|
|                Iraq|      United States|    1|
|           Indonesia|      United States|    1|
|       New Caledonia|      United States|    1|
|            Djibouti|      United States|    1|
|Saint Vincent and...|      United States|    1|
|              Zambia|      United States|    1|
|            Suriname|      United States|    1|
|              Cyprus|      United States|    1|
|        Burkina Faso|      United States|    1|
|              Kosovo|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows